#instareel-ere {
	display: none;
}

#instareel-ere-launch,
#openCurrentReel {
	display: none;
	padding: 10px 5px;
	color: white;
	font-size: 16px;

	background-color: #ff2f40;
	text-align: center;
	cursor: pointer;
}
#instareel-ere-launch {
	margin-top: 10px;
}

#openCurrentReel {
	background-color: rgb(0, 28, 75);
	right: 0;
	font-size: 12px;
	cursor: pointer;
	padding: 5px 8px;
	margin-top: 10px;
	/* position: absolute; */
}

.instagram-reel-page #instareel-ere {
	display: block;
}

.instareel-ere-controls > div,.instareel-ere-controls > button {
    display:none;
}

.instareel-ere-enabled.instagram-reel-page .donate-ere-wrapper {
	display: flex;
}

.instareel-ere-enabled.instareel-ere-controls > button,.instareel-ere-enabled.instagram-reel-page .developer-wrapper{
	display: block;
}

.instareel-ere-enabled.instagram-reel-page #instareel-ere #instareel-ere-launch:not(:disabled),
.instareel-ere-enabled.instagram-reel-page #instareel-ere #openCurrentReel:not(:disabled) {
	display: block;
}

.instareel-ere-controls {
	z-index: 9;
	min-width: 163px;
	top: 10px;
	right: 10px;
	position: fixed;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instareel-ere-enabled.instagram-reel-page section main {
	opacity: 0;
	pointer-events: none;
}

.donate-ere-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	border-top: 1px solid;
    padding-top: 5px;
    margin: 10px 0px 0px;
}

.donate-ere-wrapper span {
	font-size: 10px;
	line-height: 10px;
}

button#donate-btn {
	background: transparent;
	border: none;
	font-size: 11px;
	cursor: pointer;
	color: #03a9f4;
	text-decoration: underline;
}

.instareel-ere-player-wrapper video {
	max-width: 350px;
}
.instareel-ere-player-wrapper {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.instareel-ere-enabled.instagram-reel-page .instareel-ere-player-wrapper {
	display: block;
}

#instareel-ere-prev,
#instareel-ere-next {
	cursor: pointer;
	display: block;
	background: white;
	border: 2px solid #dadada;
}

#instareel-ere-prev svg,
#instareel-ere-next svg {
	width: 45px;
	fill: #2196f3;
	/* display: none; */
	height: 45px;
}

#instareel-ere-prev:hover,
#instareel-ere-next:hover {
	background: #2196f3;
}
#instareel-ere-prev:hover svg,
#instareel-ere-next:hover svg {
	fill: white;
}
.player-container {
	display: flex;
	justify-content: center;
}
.developer-wrapper a {
	font-size: 11px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

label.switch:has(input:checked) + div {
	order: -1;
}

label.switch:has(input:not(:checked)) + div {
	display: none;
}

.developer-wrapper{
	line-height: 12px;
	text-align: center;
}